.informacion{
    margin: 100px auto 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}

.informacion-left{
    flex-basis: 40%;
}

.informacion-right{
    flex-basis: 56%;
}

.informacionImg{
    width: 100%;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.informacion h3{
    color: #201e1c;
    font-size: 16px;
    margin: 0 0 10px;
}

.informacion h2{
    color: #201e43;
    font-size: 30px;
    margin: 0 0 10px;
}

.informacion p{
    color: #201e1c;
    font-size: 16px; 
    margin: 10px 0 5px;
    line-height: 1.4;
    text-align: justify;
}

@media (max-width: 840px) {
    .informacion {
        margin: 0px auto 80px;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .informacion-left,
    .informacion-right {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .informacion-right {
        order: 1;
    }

    .informacion-left {
        order: 2;
    }

    .informacion p{
        margin: 20px 0 5px;
        text-align: justify;
        font-size: 14px;
    }

    .informacion h2{
        text-align: center;
        font-size: 24px;
    }

    .informacion h3{
        text-align: center;
    }
}