.footer{
    margin: 80px auto 5px;
    text-align: center;
    color: #201e1c;
    line-height: 1.4;
    border-top: 1px solid #201e1c;
    padding: 15px 0;
}

.footer p{
    font-size: 16px;
    font-weight: bold;
}

/*Media Query*/
@media (max-width: 840px){
    .footer p{
        font-size: 14px;
    }

    .footer ul li{
        font-size: 14px;
    }
}