.patente-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}
  
.form-rechazo-patente {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: #f9f7f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    z-index: 1000;
} 

.close-rechazo-patente {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.form-rechazo-patente div {
    margin-bottom: 20px;
}

.form-rechazo-patente p {
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}

.form-rechazo-patente h4 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}

.etiqueta-seleccionada {
    padding: 5px 5px;
    margin: 2px;
    display: inline-block;
    line-height: 1;
    cursor: pointer;
    background-color: white;
    color: #7f4e2b;
    border-radius: 10px;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    border: #7f4e2b 1px solid;
    margin-bottom: 10px;
}

.etiqueta-seleccionada button {
    margin-left: 2px;
    padding: 0;
    background: none;
    border: none;
    color: #7f4e2b;
    font-weight: bold;
    cursor: pointer;
}

.form-rechazo-patente select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.button-rechazo-patente {
    padding: 10px;
    background-color: #7f4e2b;
    color: #f9f7f4;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.button-rechazo-patente:hover {
    background-color: #663a21;
}

.publicar-patente-button {
    background-color: #5cb85c;
    border: none;
    color: #f9f7f4;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.publicar-patente-button:hover {
    background-color: #4cae4c;
}

@media (max-width: 840px) {
    .form-rechazo-patente {
        width: 90%;
    }
}
