.title {
    text-align: center;
    color: #201e1c;
    margin: 50px 0 20px;
}

.title h3 {
    font-size: 16px;
    color: #201e1c;
    margin: 0 0 10px;
}

.title h2 {
    font-size: 32px;
    color: #7f4e2b;
    margin: 0 0 10px;
    text-transform: none;
}

.title p {
    font-size: 16px;
    color: #201e1c;
    margin: 10px auto;
    line-height: 1.4;
    width: 70%;
    box-sizing: border-box;
}

@media (max-width: 840px) {
    .title p {
        width: 95%;
        margin: 10px auto;
    }

    .title h2 {
        font-size: 26px;
    }
}